@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to right, #b7ddc7, #76df9b);
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  padding: 32px;
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

h1 {
  text-align: center;
  margin-bottom: 6px;
}

.subtitle {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-bottom: 24px;
}

.habit-form {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}


.habit-form input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}


.habit-form button {
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  background: #53ad7c;
  color: #fff;
  cursor: pointer;
}

.habit-form button:hover {
  opacity: 0.9;
}

.habit-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.habit-item span {
  font-family: Roboto;
  margin-bottom: 10px;
  font-size: 15px;
}

.habit-item.completed span {
  text-decoration: line-through;
  color: #999;
}

.check {
  border: none;
  background: #4caf50;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.check:hover {
  opacity: 0.85;
}

.habit-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  background: #f4f6fb;
  border-radius: 10px;
}


.habit-name {
  font-weight: bold;
}

.week {
  display: flex;
  gap: 6px;
}

.day {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: none;
  background: #ddd;
  cursor: pointer;
  font-weight: bold;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 12px;
}

.day.active {
  background: #70d894;
  color: white;
}

.delete-item {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  
  transition:  0.3s ease, color 0.3s ease;
}

.delete-item:hover{
  color: #ddd;
  background-color: #1d1a1a;
}

.points{
   padding: 6px 14px;
  border-radius: 999px; 
  background: linear-gradient(135deg, #6fafaf, #18b674);
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border: none;
  cursor: default;
  display: flex;
  align-items: center;
  gap: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}